{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="/posts/create" class="btn btn-primary float-right">Cria Post</a>
        <br>
        <div class="col-md-12">
            {% include('includes/messages.html.twig') %}
        </div>
        <div class="col-md-12">
            {% for p in posts %}
                <div class="posts">
                    <h2><a href="/posts/edit/{{ p.id }}">{{ p.title }}</a></h2>
                    <small>Criado em {{ p.createdAt|date("d/m/Y H:i:s") }}</small>
                    <p>
                        {{ p.content }}
                    </p>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}